.navbar {
    margin: 0;
    padding: 0;
}
/* ok */
body {
    background-color: rgb(179,167,153)
}
/* ok */
p {
    color: rgb(255, 255, 255);
}
/* ок */
.nav-link {
    color: rgb(255, 255, 255);
}
/* ок */
.navbar-nav .nav-link.active {
    color: rgb(60, 49, 37);
} 
/* ok */
.container-fluid {
    background-color: rgb(139,127,113)
          
}
/* ок */
.span {
    color: rgb(255, 255, 255);
}
.navbar-brand {
    color: rgb(255, 255, 255);
}
/* ok */
.navbar-nav {
    align-items: center;
}






.navbar-toggler {
    background-color: rgb(142,142, 142);
}

.sidebar {
    color: aquamarine;
    background: linear-gradient(270deg, #00009c,#000000 100% );
}

.card {
    background: linear-gradient(270deg, #00009c,#000000 100% );
    color: aquamarine;
}

.card a {
   text-decoration: none;
   color: aquamarine;
}

footer,
.btn {
    background: linear-gradient(270deg, #00009c,#000000 100% );
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slyde-text,
.footer-txt {
    color: aquamarine;
    margin: auto auto;
}

.call-anim {
    animation: call 2s ease 0s infinite normal forwards;
}

@keyframes call {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}



